################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab3/v15/Server/sqlite3
/.vs/Lab3/v15/.suo
/.vs/Lab3/v14/.suo
